.App {
  text-align: center;  
  font-family: 'Rubik', sans-serif;
}

.App-logo {
  height: 45vmin;
  max-width: 80%;
  margin-top: 15vh;
  pointer-events: none;
} 


.App-header {
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: top; 
  font-size: calc(10px + 2vmin); 
  color: #e9e9e9; 
} 

.support-text{
  color: #f3f1df;
}

.name-it{
  width: 45vw;
  transform:rotate(-10deg)
}